body{

    padding: 0;
    margin: 0;

}

.container{
    position: relative;
    margin-top: 100px ;
}

.container img{
    display: block;
    width: 100%;
}

nav{
    position: fixed;
    z-index: 18;
    left: 0;
    right: 0;
    top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 5%;
    height: 108px;
    background-color: teal;
}

nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: azure;

}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60% ;
    height: 108%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .links li{
    list-style: none;

}

nav .links a{
    display: block;
    padding: 1en;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: turquoise;
    background-color: aquamarine;
}

#nav-toogle{
    position: absolute;

}

nav .icon-burguer{
    display: none;

    position: absolute;
    right: 5%;
    top: 20%;
    transform: translateY(58%);
    

}

nav .icon-burguer .line{
    width: 30px;
    height: 5px;
    background-color: antiquewhite;
    margin: 5px;
    border-radius: 3px;
    


}

@media screen and (max-width: 768px ){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;


    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9 ;
        left: 0;
        right: 0;
        top: 109px;
        bottom: 0;

        background-color: rgba(230, 11, 11, 0.371) ;
       
    }

    nav .icon-burguer{
        display: block;

    }
}