table{
    width: 600px;
    border-collapse: separate;

}

th, td{
   
    padding: 7px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;

}

tr.alternado{
    background-color: rgba(0, 0, 0, 0.337);
}

tr:hover{
    background-color: rgba(137, 43, 226, 0.576);
    color: aliceblue;

}

.numero{
    text-align: right;
}